<mat-toolbar class="mat-elevation-z2" color="primary">
  <span>Split the Check</span>
  <span class="fill-remaining-space"></span>
  <button
          mat-icon-button
          [hidden]="showIntro"
          title="Show the story."
          (click)="toggleIntro(true)">
    <mat-icon>visibility</mat-icon>
  </button>
  <button
          mat-icon-button
          [hidden]="!showIntro"
          title="Hide the story."
          (click)="toggleIntro(false)">
    <mat-icon>visibility_off</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings</button>
  <button mat-menu-item> Help</button>
</mat-menu>
