md-grid-list {
  --columns: 2;
}
  #remove-orders {
    margin-left: auto;
    margin-right: auto;
    &:hover {
      color: rgba(192, 0, 0, 1);
    }
  }

  #footer {
    margin: 0 auto;
  }

  .short {
    color: red;
  }

  div {
    width: 10em;
    float: right;
    margin-right: 5px;
    margin-top: 1ex;
    padding: 0;
    border-style: none;
    box-shadow: 5px 5px 3px #cccccc;
    background-color: white;
    z-index: 10;
    table {
      font-family: "Segoe UI", Helvetica, "Sans Serif";
      font-size: 10pt;
      width: 100%;
      thead {
        th {
          text-align: center;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: ghostwhite;
        }
        tr {
          td {
            white-space: nowrap;
            text-align: right;
            width: 30%;
          }
        }
      }
      tfoot {
        text-align:center;
      }
    }
  }

