<div id="totals" class="mat-elevation-z4">
  <!-- Running totals -->
  <mat-table [dataSource]="totals">
    <ng-container matColumnDef="name">
      <!--
       <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
       -->
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="value">
      <!--
      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
      -->
      <mat-cell *matCellDef="let row"
                class="(row.name === 'Over / Short' && row.value < 0) ? 'short' : ''">{{row.value | number: row.pattern}}</mat-cell>
    </ng-container>

    <mat-row *matRowDef="let data; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-table [dataSource]="footer">
    <ng-container matColumnDef="name">
      <mat-cell *matCellDef="let row">
        <span>Remove orders</span>
        <mat-icon id="remove-orders"
                  title="Clear all Orders."
                  (click)="clearOrder($event)">remove_circle
        </mat-icon>
      </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let data; columns: footerColumns;"></mat-row>
  </mat-table>
</div>
