#remove-orders {
  margin-left: auto;
  margin-right: auto;
  &:hover {
    color: rgba(192, 0, 0, 1);
  }
}

#footer {
  margin: 0 auto;
}
.mat-grid-tile {
  div.app-label {
  text-align: right;
  }
}
/*
.mat-table, .cdk-table {

  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  .mat-row {
    display: table-row;
    :last-child {
      text-align: right;
    }
    .mat-cell, .cdk-cell {
      display: table-cell;
      padding: 0;
      margin: 0;
    }
  }
  .mat-row:nth-child(even) {

  }
}
*/

.mat-table, .mat-row {
  flex-basis: 100%;
}
.mat-column-name {
  align-self: stretch;
}
.mat-column-value {
  align-self: stretch;
  text-align: right;
}

.short {
  color: red;
}

div#totals {
  width: 10em;
  float: right;
  margin-right: 5px;
  margin-top: 1ex;
  padding: 0;
  border-style: none;
  box-shadow: 5px 5px 3px #cccccc;
  background-color: white;
  z-index: 10;
  table {
    font-family: "Segoe UI", "Tahoma", sans-serif;
    font-size: 10pt;
    width: 100%;
    thead {
      th {
        text-align: center;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background-color: ghostwhite;
      }
      tr {
        td {
          white-space: nowrap;
          text-align: right;
          width: 30%;
        }
      }
    }
    tfoot {
      text-align: center;
    }
  }
}
