<div class="card">

  <div class="row">

    <form [formGroup]="itemForm" class="form-inline">

      <div class="form-group col-sm-1">
        <label>{{index+1}}</label>
      </div>

      <div class="form-group col-sm-3">
        <input type="text"
               name="description" formControlName="description"
               placeholder="Description">
        <div class="error"
             *ngIf="itemForm.controls['description'].touched && itemForm.controls['description'].hasError('required')">
          <span>Description is required</span>
        </div>
      </div>

      <div class="form-group col-sm-2">
        <input title="Price"
               onfocus="select();"
               formControlName="price">
        <div class="error"
             *ngIf="itemForm.controls['price'].touched && itemForm.controls['price'].hasError('required')">
          <span>Price is required</span>
        </div>
        <div class="error"
             *ngIf="itemForm.controls['price'].touched && itemForm.controls['price'].hasError('pattern')">
          <span>Price must be numeric</span>
        </div>
        <app-control-messages [control]="itemForm.controls['price']"></app-control-messages>
      </div>

      <div class="form-group col-sm-2 input-group-sm">
        <input name="quantity" title="Quantity" formControlName="quantity">
        <div class="error"
             *ngIf="itemForm.controls['quantity'].touched && itemForm.controls['price'].hasError('required')">
          <span>Quantity is required</span>
        </div>
        <div class="error"
             *ngIf="itemForm.controls['quantity'].touched && itemForm.controls['quantity'].hasError('pattern')">
          <span>Quantity must be numeric</span>
        </div>
        <app-control-messages [control]="itemForm.controls['quantity']">
        </app-control-messages>
      </div>

      <div class="form-group col-sm-3">
        <input formControlName="instructions"
               title="Instructions"
               placeholder="Instructions">
      </div>

      <div class="col-sm-1">
        <span class="fa fa-minus-square" (click)="onRemove()"></span>
      </div>
    </form>
  </div>
</div>
