.fa-minus-square, .fa-times {
  margin-left:30px;
  &:hover {
    color: rgba(192, 0, 0, 1);
  }
}

.fa-plus-square,.fa-check-square, .fa-undo{
  &:hover {
    color: rgba(0, 192, 0, 1);
  }
}
label {
  margin:0;
}

