mat-form-field#formfield_quantity {
  width: 3em;
}
mat-form-field#formfield_price {
  width: 6em;
}
.add {
  &:hover {
    color: rgba(0, 192, 0, 1);
  }
}

.save, .undo {
  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }
}

.remove {
  &:hover {
    color: rgba(192, 0, 0, 1);
  }
}

label {
  margin: 0;
}

