<md-card>
  <form [formGroup]="itemForm" (change)="onChange($event)">
    <md-grid-list cols="6" rowHeight="3:1">
      <md-grid-tile>
        <button md-icon-button class="remove"
                title="Remove this item."
                (click)="onRemove()">
          <md-icon>remove_circle</md-icon>
        </button>
      </md-grid-tile>
      <md-grid-tile>
        <md-form-field>
          <input mdInput id="description"
                 class="form-control text-line"
                 name="description"
                 formControlName="description"
                 placeholder="Description"
                 onfocus="select();"
                 value="item!async?.description"
                 tabindex="0">
          <app-control-messages [control]="itemForm.controls['description']"
                                [expando]="'description'"></app-control-messages>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile>
        <md-form-field>
          <input mdInput id="price"
                 class="form-control"
                 name="price"
                 onfocus="select();"
                 formControlName="price"
                 placeholder="Price"
                 tabindex="0">
          <app-control-messages [control]="itemForm.controls['price']" [expando]="'price'"></app-control-messages>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile>
        <md-form-field>
          <input mdInput class="form-control"
                 id="quantity"
                 name="quantity"
                 onfocus="select();"
                 placeholder="Qty." formControlName="quantity"
                 tabindex="0">
          <app-control-messages [control]="itemForm.controls['quantity']" [expando]="'quantity'">
          </app-control-messages>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile>
        <md-form-field>
          <input mdInput class="form-control"
                 id="instructions"
                 name="instructions"
                 onfocus="select();"
                 formControlName="instructions"
                 placeholder="Instructions"
                 tabindex="0">
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile>
        <button md-icon-button class="save"
                itle="Save" (click)="onSave()" tabindex="0">
          <md-icon>done</md-icon>
        </button>
        <button md-icon-button class="undo"
                title="Undo" (click)="onUndo()">
          <md-icon>undo</md-icon>
        </button>
        <button md-icon-button class="add"
                tabindex="0" title="Add"
                (keydown.Space)="onAdd()" (click)="onAdd()">
          <md-icon>add_circle</md-icon>
        </button>
      </md-grid-tile>
    </md-grid-list>
  </form>
</md-card>
