<div class="card-responsive">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col">
      <ul>
        <li>
          Click this symbol&nbsp;<i class="fa fa-plus-square" aria-hidden="true" (click)="addOrder()"></i>
          or use the spacebar to add an order or an item.
        </li>
        <li>
          Click on this symbol&nbsp;<i class="fa fa-minus-square" aria-hidden="true"></i>&nbsp;below to remove an order
          or item.
        </li>
        <li>
          Use the tab key and shift-tab key to navigate forward and backward.
        </li>
      </ul>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col" *ngIf="orders">
      <app-order-outlet *ngFor="let order of orders;let i = index"
                        [orderId]="order.key"
                        [index]="i"
                        (onRemove)="onRemove($event, i)">
      </app-order-outlet>
    </div>
  </div>
</div>
