p#title {
    font-weight: bold;
    font-size: larger;
    font-family: 'Comic Sans MS', Helvetica, Sans Serif;
    text-align: center;
}

img#prairiedog {
    float: left;
    margin-right: 1em;
}

div.table {
    display: table;
    width: 75%;
}

div.tr {
    display: table-row;
}

div.td {
    display: table-cell;
    text-align: right;
}

div.value {
    width: 25%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5px;
}

div#prompts .list-group-item {
    line-height: 1em;
}