div.container {
  margin-left: 0 !important;
}

div#prairiedog {
  float: left;
  margin: 1rem;
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }
}
