<div class="container">
    <span>Items</span>
  <div class="row">

    <div class="col-md-1"><button type="button" class="btn-primary" (click)="addItem()" tabindex="0">+</button></div>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-3">Item</div>
    <div class="col-md-1">Quantity</div>
    <div class="col-md-2">Price</div>
    <div class="col-md-3">Instructions</div>
    <div class="col-md-2">Amount</div>
  </div>
  <div class="row" item-outlet *ngFor="let item of order.items; let i = index"
      [order]="order"
      [item]="item"
      [index]="i"
      (removeItem)="removeItem($event)">
  </div>
</div>
