<td>
  <button type="button" class="button" (click)="removeOrder($event)">-</button>
</td>
<td>{{index+1 | number:'1.0-0'}}</td>
<td>{{order.name}}</td>
<td>
  <div>Items&nbsp;
    <button type="button" class="btn-default" (click)="addItem()">+</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Instructions</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr item-outlet *ngFor="let item of order.items; let i = index"
          [order]="order"
          [item]="item"
          [index]="i"
          (removeItem)="removeItem($event)"></tr>
      </tbody>
    </table>
  </div>
</td>
<td>{{order.subtotal | number:'1.2-2'}}</td>
<td>{{order.tax | number:'1.2-2'}}</td>
<td>{{order.delivery | number:'1.2-2'}}</td>
<td>{{order.tip | number:'1.2-2'}}</td>
<td>{{order.subtotal + order.tax + order.delivery + order.tip | number:'1.2-2'}}</td>
<td><input type="text" title="paid" id="txtPaid" [(ngModel)]="order.paid" (change)="updatePaid()" size=6 myCurrencyFormatter=""></td>
<td>{{order.overShort | number:'1.2-2'}}</td>
