<div class="container">
  <div class="row">
    <div class="card">
      <ul>
        <li>
          Click (or spacebar) on the plus signs to add an order or an item.
        </li>
        <li>
          Click the minus signs to remove an order or item.
        </li>
        <li>
          Use the tab key and shift-tab key to navigate forward and backward.
        </li>
      </ul>
      <table class="table">
        <thead>
        <tr>
          <th>
            <button type="button" class="btn-default" (click)="addOrder()">+</button>
          </th>
          <th>#</th>
          <th>Name</th>
          <th>Items</th>
          <th>SubTotal</th>
          <th>Tax</th>
          <th>Tip</th>
          <th>Delivery</th>
          <th>Total</th>
          <th>Paid</th>
          <th>Over / Short</th>
        </tr>
        </thead>
        <tbody>
        <tr order-outlet *ngFor="let order of orders; let i = index"
            [order]="order"
            [index]="i"
            (onRemove)="onRemove($event)">
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
