<div class="container">
  <div class="row">
    <div class="col">
      <span>This is the order-list component</span>
      <ul>
        <li>
          <button type="button" class="btn-primary" (click)="addOrder()">+</button>
        </li>
      </ul>
      <ul>
        <li>
          Click (or spacebar) on the plus signs to add an order or an item.
        </li>
        <li>
          Click the minus signs to remove an order or item.
        </li>
        <li>
          Use the tab key and shift-tab key to navigate forward and backward.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="accordion" role="tablist" aria-multiline="true">
        <div class="card" *ngFor="let order of (service.orders) | async;let i = index">
            <order-outlet
              [order]="order"
              [index]="i"
              (onRemove)="onRemove($event, i)">
            </order-outlet>
          </div>
      </div>
    </div>
  </div>
</div>
