<div>
  <table class="table">
    <thead>
    <tr>
      <th>
        <span class="material-icons mi-add-circle" (click)="addItem()"></span>
      </th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Instructions</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngIf="items | async">
    <tr item-outlet *ngFor="let item of (items | async); let i = index;"
        [order]="order"
        [item]="item"
        [index]="i"
        (removeItem)="removeItem($event)"
        (changeItem)="changeItem($event)">
    </tr>
    </tbody>
  </table>
</div>

