<mat-card *ngIf="(order.items && order.items.length > 0)">
  <mat-table [dataSource]="listDataSource">
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>
        Description
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.description}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>
        Quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.quantity}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>
        Price
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.price | number:'1.2-2'}}
      </mat-cell>
    </ng-container>
      <ng-container matColumnDef="instructions">
        <mat-header-cell *matHeaderCellDef>
          Instructions
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.instructions}}
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="['description', 'quantity', 'price', 'instructions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['description', 'quantity', 'price', 'instructions']"></mat-row>
  </mat-table>
  <mat-grid-list cols="7" rowHeight="3:1">
    <mat-grid-tile>
      Subtotal
    </mat-grid-tile>
    <mat-grid-tile>
      Tax
    </mat-grid-tile>
    <mat-grid-tile>
      Tip
    </mat-grid-tile>
    <mat-grid-tile>
      Delivery
    </mat-grid-tile>
    <mat-grid-tile>
      Total
    </mat-grid-tile>
    <mat-grid-tile>
      Paid
    </mat-grid-tile>
    <mat-grid-tile>
      Over / Short
    </mat-grid-tile>
    <mat-grid-tile>
      {{order.subtotal | number:'1.2-2'}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{order.tax | number:'1.2-2'}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{order.tip | number:'1.2-2'}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{order.delivery | number:'1.2-2'}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{order.total | number:'1.2-2'}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{order.paid | number:'1.2-2'}}
    </mat-grid-tile>
    <mat-grid-tile [class.short]="positive">
      {{order.overShort | number:'1.2-2'}}
    </mat-grid-tile>
  </mat-grid-list>
  <app-item-outlet *ngFor="let item of order.items; let i = index;"
                   [orderId]="item.orderId"
                   [itemId]="item.key"
                   [item] = "item"
                   [index]="i"
                   (removeItem)="removeItem($event)">
  </app-item-outlet>
</mat-card>
