div#wrapper {
  display:flex;
}

#home-card {
  margin-right: 1em;
  margin-top: 1ex;
  min-width: 30em;
}

section#intro {
  margin-right: 4em;
}

div#prairiedog {
  float: left;
  margin: .5rem 1rem;
  background: url("../../assets/images/prairiedog.jpg") no-repeat;
  width: 184px;
  height: 274px;
}

#instructions {
  clear: left;
}

[hidden] {
  display: none !important;
}
