md-card {
  margin-left: auto;
  margin-right: auto;
}
#tipBasisTile {
  md-placeholder, md-radio-button {
    margin-right:1em;
  }
}

#changeBasisTile {
  md-placeholder, md-radio-button {
    margin-right:1em;
  }
}
