mat-card {
  margin-left: auto;
  margin-right: auto;
}

#tipBasisTile {
  mat-placeholder, mat-radio-button {
    margin-right: 1em;
  }
}

#changeBasisTile {
  mat-placeholder, mat-radio-button {
    margin-right: 1em;
  }
}
