<mat-expansion-panel expanded="true" *ngIf="settings">
  <mat-expansion-panel-header>
    <mat-panel-title>Settings</mat-panel-title>
    <mat-panel-description>These settings apply to all orders.</mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="changeForm" (ngSubmit)="postIt(changeForm.value)">
    <mat-grid-list cols="6">
      <mat-grid-tile [colspan]="2">
        <mat-form-field>
          <mat-placeholder>Tax Percent:</mat-placeholder>
          <input matInput type="text"
                 name="taxPercent"
                 formControlName="taxPercent"
                 title="Tax Percent"
                 class="form-control" id="input-sales-tax"
                 tabindex="1" size="5"
                 value="{{taxPercent}}"
                 onfocus="this.select()">
          <mat-error *ngIf="changeForm.controls['taxPercent'].hasError('required')">
            {{errorMessages.required}}
          </mat-error>
          <mat-error *ngIf="changeForm.controls['taxPercent'].hasError('pattern')">
            {{errorMessages.pattern}}
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-form-field>
          <mat-placeholder>Tip Percent:</mat-placeholder>
          <input matInput type="text" formControlName="tipPercent" class="form-control" id="txtTip" tabindex="2"
                 title="Tip Percent" size="5"
                 value="{{tipPercent}}"
                 onfocus="this.select()">
          <mat-error *ngIf="changeForm.controls['tipPercent'].hasError('required')">
            {{errorMessages.required}}
          </mat-error>
          <mat-error *ngIf="changeForm.controls['tipPercent'].hasError('pattern')">
            {{errorMessages.pattern}}
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-form-field>
          <mat-placeholder>Delivery Charge:</mat-placeholder>
          <input matInput type="text" formControlName="delivery" class="form-control" id="txtDelivery" tabindex="3"
                 size="7"
                 value="{{delivery | number: '1.2-2'}}"
                 onfocus="this.select()"
                 (blur)="decimalize($event)"
                 title="The delivery charge applies to the entire order.">
          <mat-error *ngIf="changeForm.controls['delivery'].hasError('required')">
            {{errorMessages.required}}
          </mat-error>
          <mat-error *ngIf="changeForm.controls['delivery'].hasError('pattern')">
            {{errorMessages.pattern}}
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" id="tipBasisTile" *ngIf="tipOptions|async">
        <mat-grid-tile-header>Tip Basis:</mat-grid-tile-header>
        <mat-radio-group id="tipOptions"
                         title="Calculate tip based on gross or net."
                         formControlName="tipOption"
                         required
                         value="tipBasis">
          <ng-template *ngIf="tipOption">
            <mat-radio-button *ngFor="let opt of tipOptions|async"
                              name="tipOptions"
                              tabindex="4"
                              [value]="opt"
                              [checked]="(opt.value===tipOption.value)">
              {{opt.description}}
            </mat-radio-button>
          </ng-template>
        </mat-radio-group>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" id="changeBasisTile" *ngIf="changeOptions|async">
        <mat-grid-tile-header>Change Basis:</mat-grid-tile-header>
        <mat-radio-group id="changeOptions"
                         title="Calculate change to the denomination you select."
                         formControlName="changeOption"
                         required
                         value="changeBasis">
          <ng-template *ngIf="changeOption">
            <mat-radio-button *ngFor="let opt of changeOptions|async"
                              name="changeOptions"
                              tabindex="5"
                              [value]="opt"
                              [checked]="(opt.value===changeOption.value)">
              {{opt.description}}
            </mat-radio-button>
          </ng-template>
        </mat-radio-group>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="6" rowHeight="3:1">
      <mat-grid-tile id="submitTile" [colspan]="6" *ngIf="changeForm.dirty">
        <button mat-icon-button type="submit"
                title="Submit"
                (change)="postIt(changeForm.getRawValue())"
                [disabled]="!changeForm.valid">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button type="button"
                title="Undo"
                (click)="undoIt()"
                [disabled]="!changeForm.valid">
          <mat-icon class="material-icon">undo</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-expansion-panel>
